body {
  font-family: Arial, sans-serif;
  margin: 10px;
  background-color: #cee8fa;
}

h1 { color: #2c61b0 }

h2 , p {
  color: #2c93b0;
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #83d3e8;
  display: flex;
  justify-content: center;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #2c61b0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #c7dbf2;
}

ul li a.active {
  background-color: #d6c1f4;
}